<ion-content fullscreen>
  <div class="middle-center">
    <div style="padding-bottom: 40px;"></div>
    <ion-img src="assets/images/logo.png"></ion-img>
    <div style="padding-bottom: 40px;"></div>
    <h2 class="app-h2">Meets people from all over the world and talks to them.!</h2>

    <div style="margin-top: auto; padding-bottom: 30px;">
      <a (click)="loginGoogle()" class="google btn">
        <ion-icon name="logo-google" class="app-icon vertical-align"></ion-icon>
        <ion-text class="vertical-align">Google</ion-text>
      </a>

      <a (click)="loginDevelop()" class="fb btn">
        <ion-icon name="logo-javascript" class="app-icon vertical-align"></ion-icon>
        <ion-text class="vertical-align">Login Develop</ion-text>
      </a>

      <div style="padding-top: 20px;">
        <ion-text class="app-text">By signing in you accept our Terms of use and Privacy </ion-text>
      </div>
    </div>
  </div>
</ion-content>
